html {
  box-sizing: border-box;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,-apple-system-font,Helvetica Neue;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #ffffff;
  text-shadow: 0 1px 1px rgba(0,0,0, 0);
  -webkit-text-size-adjust: 100%;
}

panel-body{
  margin: 0;
  width: auto;
  color: #ff0000;
  display: block;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  padding: 15px 20px;
}

.modern{
  display: flex;
  margin-bottom: -10px;
  flex-direction: column;
}

main{
  margin: auto;
  flex-wrap: wrap;
  overflow: inherit;
  padding-top: 0px;
  background-color: none;
}

panel-header{
  margin: 0;
  font-size: 22px;
  padding-left: 0;
  padding-top: 0px;
}

panel-body{
  margin: 0;
  width: auto;
  color: #666;
  padding-top: 20px;
}

.information>tbody{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  flex-direction: unset;
  -webkit-box-pack: end;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -webkit-box-align: baseline;
}

.information>tbody>tr{
  display: flex;
  width: 45%;
  height: 100%;
  border: none;
  padding: 5px;
  flex-shrink: 2;
  flex-basis: fill;
  max-width: 50%;
  text-align: left;
  justify-content: end;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-box-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.information>tbody>tr>td:first-child{
  margin: 0;
  color: #888;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0, 0);
}

.information>tbody>tr>td:nth-child(2){
  color: #000;
  text-align: left;
  font-size: 16px;
  padding-top: 0;
  font-weight: 600;
  padding-bottom: 0;
  margin: .425rem 0 .625rem;
}

img {
  border-radius:10px;
  isolation: isolate; 
  width: 100%;
  height: auto;
}

.screenshot-viewer img {
  width:  100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}

.screenshot-viewer{
  height: 100%;
  display: block;
  list-style: none;
  overflow-x: auto;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.screenshot-viewer>li{
  padding: 0;
  margin: 0 8px;
  font-size: 13px;
  display: inline-block;
  vertical-align: bottom;
}

.screenshot-viewer>li img{
  margin: 0;
  width:  100%;
  height: 100%;
  overflow: hidden;
  border: 0.8px solid #000;
  border-radius: 35px!important;
  z-index: 1;
}

.rounded {
  border-radius: .25rem;
}

.rounded-md {
  border-radius: .35rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-none {
  border-style: none;
}

.border-2 {
  border-width: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: inline-flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.flex-col,.flex-row {
  -webkit-box-direction: normal;
}

.flex-col {
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.items-start {
  -webkit-box-align: start;
  align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
  align-items: center;
}

.self-auto {
  align-self: auto;
}

.self-center {
  align-self: center;
}

.justify-start {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.justify-center {
  -webkit-box-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.content-center {
  align-content: center;
}

.flex-grow {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-grow {
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.h-10 {
  height: 2.5rem;
}

.h-11 {
  height: 2.75rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-normal {
  line-height: 1.5;
}

.m-0 {
  margin: 0;
}

.m-3 {
  margin: .75rem;
}

.m-auto {
  margin: auto;
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.mx-3 {
  margin-left: .75rem;
  margin-right: .75rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: .25rem;
}

.mr-1 {
  margin-right: .25rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.ml-1 {
  margin-left: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.ml-2 {
  margin-left: .5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mr-3 {
  margin-right: .75rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-px {
  margin-top: 1px;
}

.mt-1\/2 {
  margin-top: .125rem;
}

.max-w-xss {
  max-width: 10rem;
}

.min-h-screen {
  min-height: 100vh;
}

.min-w-full {
  min-width: 100%;
}

.-mx-2 {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.-mt-1 {
  margin-top: -.25rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1\/2 {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-1 {
  padding-top: .25rem;
}

.pb-1 {
  padding-bottom: .25rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pt-3 {
  padding-top: .75rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pt-px {
  padding-top: 1px;
}

.pb-px {
  padding-bottom: 1px;
}

.pb-1\/2 {
  padding-bottom: .125rem;
}

.w-10 {
  width: 2.5rem;
}

.w-11 {
  width: 2.75rem;
}

.w-auto {
  width: auto;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.33333%;
}

.w-full {
  width: 100%;
}

.opacity-75 {
  opacity: .75;
}

.opacity-90 {
  opacity: .9;
}

.opacity-95 {
  opacity: .95;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.075);
}

.shadow-bg {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.06);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-grey-darkest {
  color: #323f4b;
}

.text-grey-darker {
  color: #3e4c59;
}

.text-grey-dark {
  color: #52606d;
}

.text-grey {
  color: #7b8794;
}

.text-white {
  color: #fff;
}

.text-red-darker {
  color: #ab091e;
}

.text-red-dark {
  color: #cf1124;
}

.text-red {
  color: red;
}

.text-orange {
  color: #ff9800;
}

.text-yellow-darker {
  color: #cb6e17;
}

.text-yellow-dark {
  color: #de911d;
}

.text-green-darker {
  color: #147d64;
}

.text-green-dark {
  color: #199473;
}

.text-green {
  color: #31b237;
}

.text-blue-dark {
  color: #1992d4;
}

.text-blue {
  color: #40c3f7;
}

.hover\:text-white:hover {
  color: #fff;
}

.hover\:text-green-dark:hover {
  color: #199473;
}

.text-xss {
  font-size: .625rem;
}

.text-xs {
  font-size: .75rem;
}

.text-sm {
  font-size: .875rem;
}

.text-md {
  font-size: .925rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

body,canvas,caption,dfn,div,em,figcaption,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,img,ins,label,legend,li,menu,nav,ol,p,section,small,span,strong,table,tbody,td,th,thead,tr,ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

h1,h2,h3,h4,h5,h6 {
  font-display: auto;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,-apple-system-font,Helvetica Neue;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  line-height: 1.3;
}

h1,h2 {
  color: #000;
}

h2 {
  font-size: 28px;
  line-height: 1.5;
}

h2,h3 {
  font-weight: 800;
}

h3 {
  font-size: 20px;
  color: #4a4a4a;
  line-height: 1.4;
  margin-bottom: 2px;
}

h4 {
  font-size: 18px;
  line-height: 1.25;
}

h4,h5 {
  font-weight: 700;
  color: #4a4a4a;
}

h5 {
  font-size: 15px;
  line-height: 1.1;
}

h6 {
  font-size: 13px;
  font-weight: 800;
  color: #111;
  line-height: 1.3;
}

strong {
  font-weight: 600;
  color: #555;
}

p {
  line-height: 1.25;
  margin-bottom: 12px;
  font-size: 13px;
}

ol,ul {
  padding: 8px 18px;
}

div.header {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cydia-body main {
  padding-top: .25rem!important;
}

.cydia-body .cydia-hide,.cydia-body header {
  display: none!important;
}

.cydia-body .cydia-show {
  display: inherit;
}

.package-description .sileo-show,.sileo-show {
  display: none;
}

.sileo-body main {
  padding-top: .25rem!important;
}

.sileo-body .sileo-hide,.sileo-body header {
  display: none!important;
}

.sileo-body .sileo-show {
  display: inherit;
}

.rating-1:before {
  content: "\f005";
}

.rating-2:before {
  content: "\f005\f005";
}

.rating-3:before {
  content: "\f005\f005\f005";
}

.rating-4:before {
  content: "\f005\f005\f005\f005";
}

.rating-5:before {
  content: "\f005\f005\f005\f005\f005";
}

.review-list {
  list-style: none;
  padding: 8px 0;
  margin-left: -5px;
  margin-right: -5px;
}

.review-list li {
  background-color: #f2f2f2;
  border-radius: 7.5px;
  overflow: hidden;
  padding: 13px 16px;
  margin-bottom: 12px;
}

.review-header,.review-list li:last-child {
  margin-bottom: 0;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: text;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,-apple-system-font,Helvetica Neue;
  font-weight: 500;
  font-size: 15px;
}

tqm{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
}

mos{
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0px;
  background: linear-gradient(0deg, #0085FF, #FF6699);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

red{
  color: #E50000;
}

blue{
  color: #1991D3;
}

p{
  text-align: center;
}

h2{
  font-size: 16px;
  text-align: center;
  filter: drop-shadow(0px 2px 4px #0008);
}