body{
padding-bottom: env(safe-area-inset-bottom);
}

.TQM{
box-shadow:0 1rem 1rem -1.2rem #00000050;
border-radius: 15px 15px 15px 15px;
background: linear-gradient(0deg, rgb(145,175,237,0.2), rgb(145,175,237,0.2));}

.get-btn {
color: white;
display: block;
float: right;
margin-top:-65px;
margin-right:11px;
width: 50px;
border-radius: 10px 10px 10px 10px;
padding-top: 7px;
padding-bottom: 7px;
background: linear-gradient(0deg, #0085ff, #FF6699);
font-size: 12px;
font-weight: 700;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
box-shadow: 0px 0px 5px #0085FF;
}

.get-more {
color: white;
display: block;
float: center;
margin-top:20px;
margin-center:0px;
width: 100px;
border-radius: 10px 10px 10px 10px;
padding-top: 7px;
padding-bottom: 7px;
background: linear-gradient(0deg, #0085ff, #FF6699);
font-size: 13px;
font-weight: 700;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
box-shadow: 0px 0px 5px #0085FF;
}

.tbpopup .tboverlay {
position:fixed;
top:0px;
left:0px;
width:100vw;
height:100vh;
background:rgba(0,0,0,0.5);
z-index:10;
display:none;
}
 
.tbpopup .tbcontent {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0);
background:#00000000;
max-width:500px;
z-index:100;
text-align:center;
padding:20px;
box-sizing:border-box;
font-family:"Open Sans",sans-serif;
#border-radius:20px;
display: block;
position: fixed;
}
@media (max-width: 700px) {
.tbpopup .tbcontent {width:90%;}
}
 
.tbpopup .tbclose-btn {
cursor:pointer;
position:absolute;
right:70px;
top:85px;
width:35px;
height:35px;
color:#ff4444;
font-size:30px;
font-weight:600;
line-height:35px;
text-align:center;
border-radius:50%;
}
 
.tbpopup.active .tboverlay {
display:block;
}
 
.tbpopup.active .tbcontent {
transition:all 300ms ease-in-out;
transform:translate(-50%,-50%) scale(1);
}
.tbbuttom{background:#00cc00;color:#00000000;}

#myInput {
width: 90%;
border: 1px solid  cyan;
font-size: 15px;
padding: 7px 1px 7px 40px;
margin-top: -15px;
border-radius: 10px;
background: #e7e7e7;
box-shadow: 0px 0px 5px #0085FF;
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2013'%20enable-background%3D'new%200%200%2013%2013'%3E%3Cg%3E%3Cpath%20fill%3D'%23939398'%20d%3D'M5%2C1c2.2%2C0%2C4%2C1.8%2C4%2C4S7.2%2C9%2C5%2C9S1%2C7.2%2C1%2C5S2.8%2C1%2C5%2C1%20M5%2C0C2.2%2C0%2C0%2C2.2%2C0%2C5s2.2%2C5%2C5%2C5s5-2.2%2C5-5S7.8%2C0%2C5%2C0%20L5%2C0z'%2F%3E%3C%2Fg%3E%3Cline%20stroke%3D'%23939398'%20stroke-miterlimit%3D'10'%20x1%3D'12.6'%20y1%3D'12.6'%20x2%3D'8.2'%20y2%3D'8.2'%2F%3E%3C%2Fsvg%3E");
border: rgba(0,0,0,.1);
background-size: 20px 20px;
background-repeat: no-repeat;
background-position: 8px center;
}

#myInput {
width: 90%;
border: 1px solid  cyan;
font-size: 15px;
padding: 7px 1px 7px 40px;
margin-top: -15px;
border-radius: 10px;
background: #1c1c1e;
color: white;
box-shadow: 0px 0px 5px #0085FF;
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2013'%20enable-background%3D'new%200%200%2013%2013'%3E%3Cg%3E%3Cpath%20fill%3D'%23939398'%20d%3D'M5%2C1c2.2%2C0%2C4%2C1.8%2C4%2C4S7.2%2C9%2C5%2C9S1%2C7.2%2C1%2C5S2.8%2C1%2C5%2C1%20M5%2C0C2.2%2C0%2C0%2C2.2%2C0%2C5s2.2%2C5%2C5%2C5s5-2.2%2C5-5S7.8%2C0%2C5%2C0%20L5%2C0z'%2F%3E%3C%2Fg%3E%3Cline%20stroke%3D'%23939398'%20stroke-miterlimit%3D'10'%20x1%3D'12.6'%20y1%3D'12.6'%20x2%3D'8.2'%20y2%3D'8.2'%2F%3E%3C%2Fsvg%3E");
border: rgba(0,0,0,.1);
background-size: 20px 20px;
background-repeat: no-repeat;
background-position: 8px center;
}

#myUL {
list-style-type: none;
padding: 0;
margin: 0;
}

input:focus { 
    outline: none !important;
}
